body {
    width: 1366px;
    margin: auto;
    font-family: nunito, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #193B68;
    text-transform: uppercase;
}

.landing {
    margin-bottom: 4em;
}

#landing {
    position: relative;
    text-align: center;
}

.title_centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-transform: uppercase;
}

.overzicht_gegevens {
    display: flex;
    margin-bottom: 4em;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

input {
    margin-top: 1em;
    height: 3em;
    border: 2px solid #193B68;
}

textarea {
    margin-top: 1em;
    height: 2em;
    border: 2px solid #193B68;
    height: 7em;
}

#verzend_knop {
    width: 12em;
    background-color: #BC112E;
    color: white;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    border: none;
    font-size: 1em;
}

.contact_form{
    background-color: rgba(128, 195, 216, 0.2);
    padding: 3em;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.contact_form h1 {
    font-size: 30px;
    margin-left: 4em;
}


