body {
    width: 1366px;
    margin: auto;
    font-family: nunito, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #193B68;
    margin-top: 2.5em;
    text-transform: uppercase;
}

#landing {
    position: relative;
    text-align: center;
}

.title_landing {
    width: 30em;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.button_landing {
    width: 15em;
    background-color: #BC112E;
    color: white;
    font-family: azo-sans-web, sans-serif;
    font-weight: 600;
    font-style:normal;
    border: none;
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1.2em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.button_landing:hover {
    text-decoration: none;
    background-color: #80c3d8;
    color: white;
}

button:hover {
    text-decoration: nocne;
    background-color: #80c3d8;
    }

.landing_event {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.landing_event img {
    margin-top: 1em;
}

h2 {
    color: #BC112E;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.datum_event {
    position: absolute;
    top: 22%;
    left: 3%;
    color: white;
    font-family: azo-sans-web, sans-serif;
    font-weight: 600;
    font-style:normal;
    font-size: 2em;
}

.overzicht_zalen {
    display: grid;
    column-gap: 5em;
    width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.overzicht_zalen p {
    color: #193B68;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}


#theaterzaal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-bottom: 3em;
    text-align: center;
}

#stadsschouwburg {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    text-align: center;
}

#concertzaal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
}

#congresruimte {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
    text-align: center;
}

button {
    width: 10em;
    background-color: #BC112E;
    color: white;
    font-family: azo-sans-web, sans-serif;
    font-weight: 600;
    font-style:normal;
    border: none;
    font-size: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.button_spotlight {
    width: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display: block;
}

.planning_zaal {
    background-color: rgba(128, 195, 216, 0.2);
    padding-bottom: 2em;
    padding-top: 0.5em;
    margin-top: 3em;
}

.planning_zaal h1 {
    margin-left: 4em;
    text-transform: uppercase;
}

.planning_zaal h2 {
    margin-left: 5em;
    margin-top: 0.5em;
    color: #193B68;
    margin-bottom: 2em;
    font-weight: 500;
}

h3 {
    color: #193B68;
    font-family: azo-sans-web, sans-serif;
    font-weight: 600;
    font-style:normal;
    text-transform: uppercase;
    font-size: 1.4em;
    margin-top: 1em;
}