body {
    width: 1366px;
    margin: auto;
    font-family: nunito, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #193B68;
    text-transform: uppercase;
}

.booking_form h1 {
    margin-left: 4.5em;
}

h2 {
    margin-left: 5.5em;
    font-family: azo-sans-web, sans-serif;
    font-size: 1.8em;
    font-style: normal;
    margin-top: 0.5em;
    color: #193B68;
    font-weight: 300;
}

.booking_form {
    background-color: rgba(128, 195, 216, 0.2);
    padding: 3em;
    width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

form {
    display: flex;
    flex-direction: column;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

input {
    margin-top: 1em;
    height: 3em;
    border: 2px solid #193B68;
}

textarea {
    margin-top: 1em;
    height: 2em;
    border: 2px solid #193B68;
    height: 7em;
}

.verzend_knop {
    width: 12em;
    background-color: #BC112E;
    color: white;
    font-family: azo-sans-web, sans-serif;
    font-weight: 500;
    font-style: normal;
    border: none;
    font-size: 1em;
}

.verzend_knop:hover {
    background-color: #80c3d8;
}

.landing {
    margin-bottom: 4em;
}

#landing {
    position: relative;
    text-align: center;
}

.title_centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-transform: uppercase;
}

#overzicht_booking {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    border: 0.2em solid #80c3d8;
    padding: 2em;
    margin-bottom: 3em;
}

#overzicht_booking h1{
    font-size: 1.5em;
    margin-bottom: 1em;
}

#overzicht_booking p{
    margin-bottom: 2em;
}

h3 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #BC112E;
    font-size: 1.1em;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
}

