nav {
    background-color: #193B68;
    color: white;
    padding-left: 4em;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
}

.logo {
    width: 10em;
}

nav ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    margin-left: 6em;
}

footer {
    background-color: #193B68;
    color: white;
    padding: 2em;
}

.complete_footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    width: 75em;
    margin-bottom: 2em;
}

.footer_part {
    margin-left: 7em;
}

.footer_part ul {
    list-style-type: circle;
    margin-left: 2em;
    margin-top: 1em;
}

footer li {
    margin-top: 1em;
}

.footer_titel {
    color: #80C3D8;
    font-weight: 600;
}

#footer_copyright {
    margin-left: 3.5em;
}

