body {
    width: 1366px;
    margin: auto;
    font-family: nunito, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: #193B68;
}

h2 {
    background-color: #80C3D8;
    color: white;
    width: auto;
}

.landing {
    margin-bottom: 4em;
}

#landing {
    position: relative;
    text-align: center;
}

.title_centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: white;
    text-transform: uppercase;
}

.zaal {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    position: relative;
}

.zaal:nth-child(odd){
    background-color: rgba(128, 195, 216, 0.2);
    padding: 3em;
}

.zaal img {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.naam_zaal {
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-30%, 50%);
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 0.5em;
}

button {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    color: white;
    background-color: #BC112E;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    margin-top: 1em;
    border: none;
}

footer {
    margin-top: 3em;
}